<header>
  <h1>Ontdek luisterboeken bij de OBA</h1>
</header>

<section>
  {{#each data}}
  <a href="{{genre}}" class="subject">
    <img src="{{cover_image}}" alt="{{genre}}">
    <span>{{genre}}</span>
  </a>
  {{/each}}
</section>