<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <title>OBA: Audiobooks</title>
    <meta name="description"
      content="A website for the OBA (Public Library Amsterdam) which only focuses on audiobooks">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/styles-60bf7a2ac9.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700">
  </head>

  <body>
    <main class="{{template}}">
      <article>
        {{{body}}}
      </article>
    </main>
    <script async type="text/javascript" src="/jquery-fdef21f018.min.js"></script>
    <script async type="text/javascript" src="/main.js"></script>
  </body>

</html>