<!DOCTYPE html> <!-- HTML5 -->
<html lang="nl">

  <head>
    <!-- Set character encoding for the document -->
    <meta charset="utf-8">
    <!-- Viewport for responsive web design -->
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <!-- Document Title -->
    <title>OBA: Audiobooks</title>
    <!-- Meta Description -->
    <meta name="description"
      content="A website for the OBA (Public Library Amsterdam) which only focuses on audiobooks">
    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="/css/styles.min.css">
  </head>

  <body>
    <main class="{{template}}">
      <article>
        {{{body}}}
      </article>
    </main>
  </body>

</html>